<div class="row form-group">
    <div class="col-md-3">
        <b>Event Id:</b>
    </div>
    <div class="col-md-3">
        <span class="number" data-content="Number"></span>
    </div>
    <div class="col-md-3">
        <b>Event Type:</b>
    </div>
    <div class="col-md-3">
        <span class="type" data-content="Type"></span>
    </div>
</div>
<div class="row form-group">
    <div class="col-md-3">
        <b>Tickets:</b>
    </div>
    <div class="col-md-3">
        <span class="tickets" data-content="Tickets"></span>
    </div>
    <div class="col-md-3">
        <b>Venue:</b>
    </div>
    <div class="col-md-3">
        <span class="venue" data-content="Venue"></span>
    </div>
</div>
<!--<div class="row form-group">
    <div class="col-md-3">
        <b>Status:</b>
    </div>
    <div class="col-md-3">
        <span class="status" data-content="Status"></span>
    </div>
</div>-->
<div class="row form-group">   
    <div class="col-md-3">
        <b>Date/Time:</b>
    </div>
    <div class="col-md-9">
        <span class="date" data-content="Date"></span>
    </div>
</div>
<div class="row form-group">
    <div class="col-md-3">
        <b>Description:</b>
    </div>
    <div class="col-md-9">
        <span class="description" data-content="Description"></span>
    </div>
</div>

<div class="row modal-header" style="margin-bottom:10px;">
    <h4 class="modal-title">User Detail</h4>
</div>

<div class="row form-group">
    <div class="col-md-3">
        <b>User Name:</b>
    </div>
    <div class="col-md-3">
        <span class="username" data-content="UserName"></span>
    </div>
    <div class="col-md-3">
        <b>Email:</b>
    </div>
    <div class="col-md-3">
        <span class="email" data-content="Email"></span>
    </div>
</div>
<div class="row form-group">
    <div class="col-md-3">
        <b>First Name:</b>
    </div>
    <div class="col-md-3">
        <span class="firstName" data-content="FirstName"></span>
    </div>
    <div class="col-md-3">
        <b>Last Name:</b>
    </div>
    <div class="col-md-3">
        <span class="lastName" data-content="LastName"></span>
    </div>
</div>
<div class="row form-group">
    <div class="col-md-3">
        <b>Contact Num:</b>
    </div>
    <div class="col-md-3">
        <span class="contactNumber" data-content="ContactNumber"></span>
    </div>
    <div class="col-md-3">
        <b>Gender:</b>
    </div>
    <div class="col-md-3">
        <span class="gender" data-content="Gender"></span>
    </div>
</div>