@using EventManagement.ViewModels
@model ActiveTopicsViewModel


<div class="latesttopics">

    @*<div class="mainheading clearfix">
        <div class="widgetright hidden-xs">
            @if (Html.Settings().EnableRSSFeeds)
            {
                <a href="@Url.Action("LatestRss", "Home")" class="rsssubscribe" title="@Html.LanguageString("Home.Rss")">
                    <i class="fa fa-rss-square orange-colour"></i>
                </a>
            }
        </div>
        <h2>@Html.LanguageString("Home.LatestDiscussions")</h2>
    </div>*@



    @foreach (var topic in Model.Topics)
    {
        Html.RenderPartial("_Topic", topic);
    }

</div>