@model ChangePasswordViewModel
@{
    ViewData["Title"] = "Change Password";
}

@*<h2>@ViewData["Title"].</h2>*@

<div id="shop">

    <!-- PAGE TITLE -->
    <header id="page-title">
        <div class="container">
            <h1>Change Password</h1>

            <ul class="breadcrumb">
                <li><a href="index.html">Manage</a></li>
                <li class="active">Change Password</li>
            </ul>
        </div>
    </header>


    <div class="col-md-offset-2 col-md-8">

        <form asp-controller="Manage" asp-action="ChangePassword" method="post" class="white-row">
            <h2>Change Password Form</h2>
            <hr style="margin-top: 8px;margin-bottom: 39px;" />
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="OldPassword" class="col-md-2 control-label"></label>
                <div class="col-md-10">
                    <input asp-for="OldPassword" class="form-control" />
                    <span asp-validation-for="OldPassword" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="NewPassword" class="col-md-2 control-label"></label>
                <div class="col-md-10">
                    <input asp-for="NewPassword" class="form-control" />
                    <span asp-validation-for="NewPassword" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="ConfirmPassword" class="col-md-2 control-label"></label>
                <div class="col-md-10">
                    <input asp-for="ConfirmPassword" class="form-control" />
                    <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <button type="submit" class="btn btn-primary">Change password</button>
                </div>
            </div>
        </form>

    </div>

</div>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}
