@model EventModel
@{
    ViewData["Title"] = "Edit Event";
}


<div id="shop">

    <!-- PAGE TITLE -->
    <header id="page-title">
        <div class="container">
            <h1>Edit Event</h1>

            <ul class="breadcrumb">
                <li><a href="/Forums/Index">Event</a></li>
                <li class="active">Edit Events</li>
            </ul>
        </div>
    </header>
    <section class="container">
        <form asp-controller="Event" enctype="multipart/form-data" asp-action="Edit" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post" class="white-row">
          @Html.Partial("_CreateEditEvents", Model)  
            @*<div class="row white-row">
                <div class="col-md-3">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                @{
                                    var profilepic = "http://library.unn.edu.ng/wp-content/uploads/sites/42/2016/03/prifile-pic.png";
                                    if (!string.IsNullOrEmpty(Model.Poster))
                                    {
                                        profilepic = "/uploads/" + Model.Poster;
                                    }
                                }

                                <img id="profilePic" src="@profilepic" style="width:200px;" alt="profile-pic" />
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <input id="profile-file" type="file" name="file" value="" />
                            </div>
                        </div>
                    </div>

                </div>
                <div class="col-md-9">

                    <h2>Create <strong>Event</strong></h2>

                    @if (ViewBag.IsModelValid != null && !ViewBag.IsModelValid)
            {
                        <div class="row alert alert-danger">
                            <i class="fa fa-frown-o"></i>
                            <div asp-validation-summary="All" class="text-danger"></div>
                        </div>
                    }

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Event Number</label>
                                <input asp-for="Number" class="form-control" readonly />
                                <span asp-validation-for="Number" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Event Type</label>
                                <div class="row">
                                    <div class="col-md-8">
                                        <select id="type" asp-for="Type" class="form-control col-md-6">
                                            <option value="">Select</option>
                                            <option value="2">Commercial</option>
                                            <option value="1">Non-commercial</option>
                                        </select>
                                        <span asp-validation-for="Type" class="text-danger"></span>
                                    </div>
                                    <div class="col-md-4">
                                        <input asp-for="Tickets" class="form-control" />
                                        <span asp-validation-for="Tickets" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Event Name</label>
                                <input asp-for="Name" class="form-control" />
                                <span asp-validation-for="Name" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Event Date</label>
                                <input asp-for="Date" class="form-control" />
                                <span asp-validation-for="Date" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Venue</label>
                                <input asp-for="Venue" class="form-control" />
                                <span asp-validation-for="Venue" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Description</label>
                                <textarea class="form-control" asp-for="Description"></textarea>
                                <span asp-validation-for="Description" class="text-danger"></span>
                            </div>
                            <div class="form-group pull-right">&nbsp;&nbsp;
                                <button type="submit" class="btn btn-primary push-bottom">Submit</button> &nbsp;&nbsp;
                                <a asp-controller="Event" asp-action="Index" class="btn btn-default">Back to Events</a>&nbsp;&nbsp;
                            </div>
                        </div>
                    </div>
                </div>
            </div>*@
        </form>
    </section>
</div>


@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
    
    <script>
        $(function() {

            $('#profile-file').change(function (e) {
                readURL(this);
            });

            function readURL(input) {

                if (input.files && input.files[0]) {
                    var reader = new FileReader();

                    reader.onload = function (e) {
                        $('#profilePic').attr('src', e.target.result);
                    }

                    reader.readAsDataURL(input.files[0]);
                }
            }
        });
    </script>    
}