@model CreateEditTopicView_Model
@{
    ViewBag.Title = "Create";
}

<header id="page-title">
    <div class="container">
        <h1>Create Forums</h1>

        <ul class="breadcrumb">
            <li><a href="index.html">Home</a></li>
            <li class="active">Create Forums</li>
        </ul>
    </div>
</header>

<div>
    <section class="container">
        <form asp-controller="Forums" asp-action="Create" method="post" class="white-row">
            @Html.ValidationSummary()
            @Html.Partial("_CreateEdit_TopicPost", Model)
        </form>
    </section>
</div>

<style>
    .nicdark_margintop45_negative {
        margin-top: 140px !important;
    }

    .nicdark_space50 {
        height: 0;
    }

    .form-group b {
        font-family: 'Raleway', sans-serif;
    }
</style>

@section Scripts {
    <script src="~/js/tinymce/tinymce.js"></script>
    <script>
        tinymce.init({
            selector: "textarea",
            theme: "modern",
            plugins: [
                 "advlist autolink link lists charmap print preview hr anchor pagebreak",
                 "searchreplace wordcount visualblocks visualchars code fullscreen insertdatetime nonbreaking",
                 "save table contextmenu directionality emoticons template paste textcolor"
            ],
            content_css: "css/content.css",
            toolbar: "insertfile undo redo | styleselect | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | print preview fullpage | forecolor backcolor emoticons",
            //style_formats: [
            //     { title: 'Bold text', inline: 'b' },
            //     { title: 'Red text', inline: 'span', styles: { color: '#ff0000' } },
            //     { title: 'Red header', block: 'h1', styles: { color: '#ff0000' } },
            //     { title: 'Example 1', inline: 'span', classes: 'example1' },
            //     { title: 'Example 2', inline: 'span', classes: 'example2' },
            //     { title: 'Table styles' },
            //     { title: 'Table row 1', selector: 'tr', classes: 'tablerow1' }
            //]
        });
    </script>
}