@model RegisterViewModel
@{
    ViewData["Title"] = "Manage Profile";
}

@*<h2>@ViewData["Title"].</h2>*@

<div id="shop">

    <!-- PAGE TITLE -->
    <header id="page-title">
        <div class="container">
            <h1>Manage Profile</h1>

            <ul class="breadcrumb">
                <li><a href="index.html">Manage</a></li>
                <li class="active">Profile</li>
            </ul>
        </div>
    </header>


    <section class="container">

        <div class="row white-row">
            <form asp-controller="Account" enctype="multipart/form-data" asp-action="ManageProfile" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post">
                <input type="hidden" asp-for="UserId" />
                <input type="hidden" asp-for="Id" />
                <input type="hidden" asp-for="ProfilePhoto" />
                <div class="col-md-3">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                @{
                                    var profilepic = "http://library.unn.edu.ng/wp-content/uploads/sites/42/2016/03/prifile-pic.png";
                                    if (!string.IsNullOrEmpty(Model.ProfilePhoto))
                                    {
                                        profilepic = "/uploads/" + Model.ProfilePhoto;
                                    }
                                }

                                <img id="profilePic" src="@profilepic" style="width:200px;" alt="profile-pic" />
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <input id="profile-file" type="file" name="file" value="" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-9">

                    <h2>Manage <strong>Profile</strong></h2>

                    @if (ViewBag.IsModelValid != null && !ViewBag.IsModelValid)
                    {
                        <div class="row alert alert-danger">
                            <i class="fa fa-frown-o"></i>
                            <div asp-validation-summary="All" class="text-danger"></div>
                        </div>
                    }

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>E-mail Address</label>
                                <input asp-for="Email" class="form-control" />
                                <span asp-validation-for="Email" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>User Name</label>
                                <input asp-for="UserName" class="form-control" />
                                <span asp-validation-for="UserName" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>First Name</label>
                                <input asp-for="FirstName" class="form-control" />
                                <span asp-validation-for="FirstName" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Last Name</label>
                                <input asp-for="LastName" class="form-control" />
                                <span asp-validation-for="LastName" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Contact Number</label>
                                <input asp-for="ContactNumber" class="form-control" />
                                <span asp-validation-for="ContactNumber" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Gender</label>
                                <div>
                                    <input type="radio" asp-for="Gender" value="0" /> &nbsp;&nbsp; Male
                                    <input type="radio" asp-for="Gender" value="1" /> &nbsp;&nbsp; Female
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label>Address</label>
                                <textarea asp-for="Address" class="form-control"></textarea>
                                <span asp-validation-for="Address" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>City</label>
                                <input asp-for="City" class="form-control" />
                                <span asp-validation-for="City" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Country</label>
                                <select asp-for="Country" class="form-control">
                                    <option value="">Select</option>
                                    <option value="1">U.S.A</option>
                                </select>
                                <span asp-validation-for="Country" class="text-danger"></span>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            <button type="submit" class="btn btn-primary pull-right push-bottom">Submit</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>

    </section>

</div>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }

    <script>
        $(function () {
            $('#profile-file').change(function (e) {
                readURL(this);
            });
        });
        function readURL(input) {

            if (input.files && input.files[0]) {
                var reader = new FileReader();

                reader.onload = function (e) {
                    $('#profilePic').attr('src', e.target.result);
                }

                reader.readAsDataURL(input.files[0]);
            }
        }
    </script>
}

<style>
    .validation-summary-errors {
        float: left;
    }

    .alert .fa {
        float: left;
    }

    .alert {
        margin: 0;
        margin-bottom: 18px;
    }

    .validation-summary-errors ul {
        margin: 0;
        list-style-type: none;
    }

        .validation-summary-errors ul li {
            color: #a94442;
        }
</style>