@{
    ViewData["Title"] = "Gallery";
}

<header id="page-title">
    <div class="container">
        <h1>Portfolio Gallery</h1>

        <ul class="breadcrumb">
            <li><a href="index.html">Home</a></li>
            <li><a href="#">Portfolio</a></li>
            <li class="active">Gallery</li>
        </ul>
    </div>
</header>

<section id="portfolio" class="container">

    <h2><strong>Explore</strong> our gallery</h2>

    @*<ul class="nav nav-pills isotope-filter isotope-filter" data-sort-id="isotope-list" data-option-key="filter">
        <li data-option-value="*" class="active"><a href="#">Show All</a></li>
    </ul>*@


    <div class="row">

        <ul class="sort-destination isotope lightbox" data-sort-id="isotope-list" data-plugin-options='{"delegate": "a", "gallery": {"enabled": true}}'>

            <li class="isotope-item col-sm-6 col-md-3 development">
                <!-- item -->
                <div class="item-box">
                    <figure>
                        <a class="item-hover" href="/images/demo/portfolio/scouter-600x403.jpg">
                            <span class="overlay color2"></span>
                            <span class="inner">
                                <span class="block fa fa-plus fsize20"></span>
                                <strong>VIEW</strong> IMAGE
                            </span>
                        </a>
                        <img class="img-responsive" src="/images/demo/portfolio/scouter-600x403.jpg" width="260" height="260" alt="">
                    </figure>
                </div>
            </li>

            <li class="isotope-item col-sm-6 col-md-3 photography">
                <!-- item 2 -->
                <div class="item-box">
                    <figure>
                        <a class="item-hover" href="/images/demo/portfolio/black-kitty-600x403.jpg">
                            <span class="overlay color2"></span>
                            <span class="inner">
                                <span class="block fa fa-plus fsize20"></span>
                                <strong>VIEW</strong> IMAGE
                            </span>
                        </a>
                        <img class="img-responsive" src="/images/demo/portfolio/black-kitty-600x403.jpg" width="260" height="260" alt="">
                    </figure>
                </div>
            </li>

            <li class="isotope-item col-sm-6 col-md-3 design">
                <!-- item 3 -->
                <div class="item-box">
                    <figure>
                        <a class="item-hover" href="/images/demo/portfolio/merchant2-600x403.jpg">
                            <span class="overlay color2"></span>
                            <span class="inner">
                                <span class="block fa fa-plus fsize20"></span>
                                <strong>VIEW</strong> IMAGE
                            </span>
                        </a>
                        <img class="img-responsive" src="/images/demo/portfolio/merchant2-600x403.jpg" width="260" height="260" alt="">
                    </figure>
                </div>
            </li>

            <li class="isotope-item col-sm-6 col-md-3 photography">
                <!-- item 4 -->
                <div class="item-box">
                    <figure>
                        <a class="item-hover" href="/images/demo/portfolio/flippin-the-bird1-600x403.jpg">
                            <span class="overlay color2"></span>
                            <span class="inner">
                                <span class="block fa fa-plus fsize20"></span>
                                <strong>VIEW</strong> IMAGE
                            </span>
                        </a>
                        <img class="img-responsive" src="/images/demo/portfolio/flippin-the-bird1-600x403.jpg" width="260" height="260" alt="">
                    </figure>
                </div>
            </li>

            <li class="isotope-item col-sm-6 col-md-3 development">
                <!-- item 5 -->
                <div class="item-box">
                    <figure>
                        <a class="item-hover" href="/images/demo/portfolio/night_to_remember1-600x403.jpg">
                            <span class="overlay color2"></span>
                            <span class="inner">
                                <span class="block fa fa-plus fsize20"></span>
                                <strong>VIEW</strong> IMAGE
                            </span>
                        </a>
                        <img class="img-responsive" src="/images/demo/portfolio/night_to_remember1-600x403.jpg" width="260" height="260" alt="">
                    </figure>
                </div>
            </li>

            <li class="isotope-item col-sm-6 col-md-3 design">
                <!-- item 6 -->
                <div class="item-box">
                    <figure>
                        <a class="item-hover" href="/images/demo/portfolio/spacebound-600x403.jpg">
                            <span class="overlay color2"></span>
                            <span class="inner">
                                <span class="block fa fa-plus fsize20"></span>
                                <strong>VIEW</strong> IMAGE
                            </span>
                        </a>
                        <img class="img-responsive" src="/images/demo/portfolio/spacebound-600x403.jpg" width="260" height="260" alt="">
                    </figure>
                </div>
            </li>

            <li class="isotope-item col-sm-6 col-md-3 photography design">
                <!-- item 7 -->
                <div class="item-box">
                    <figure>
                        <a class="item-hover" href="/images/demo/portfolio/be-my-guest1-600x403.jpg">
                            <span class="overlay color2"></span>
                            <span class="inner">
                                <span class="block fa fa-plus fsize20"></span>
                                <strong>VIEW</strong> IMAGE
                            </span>
                        </a>
                        <img class="img-responsive" src="/images/demo/portfolio/be-my-guest1-600x403.jpg" width="260" height="260" alt="">
                    </figure>
                </div>
            </li>

            <li class="isotope-item col-sm-6 col-md-3 development">
                <!-- item 8 -->
                <div class="item-box">
                    <figure>
                        <a class="item-hover" href="/images/demo/portfolio/black-box5-600x403.jpg">
                            <span class="overlay color2"></span>
                            <span class="inner">
                                <span class="block fa fa-plus fsize20"></span>
                                <strong>VIEW</strong> IMAGE
                            </span>
                        </a>
                        <img class="img-responsive" src="/images/demo/portfolio/black-box5-600x403.jpg" width="260" height="260" alt="">
                    </figure>
                </div>
            </li>

            <li class="isotope-item col-sm-6 col-md-3 development">
                <!-- item -->
                <div class="item-box">
                    <figure>
                        <a class="item-hover" href="/images/demo/portfolio/weather-app-600x403">
                            <span class="overlay color2"></span>
                            <span class="inner">
                                <span class="block fa fa-plus fsize20"></span>
                                <strong>VIEW</strong> IMAGE
                            </span>
                        </a>
                        <img class="img-responsive" src="/images/demo/portfolio/weather-app-600x403.jpg" width="260" height="260" alt="">
                    </figure>
                </div>
            </li>

            <li class="isotope-item col-sm-6 col-md-3 photography">
                <!-- item 2 -->
                <div class="item-box">
                    <figure>
                        <a class="item-hover" href="/images/demo/portfolio/theMoose-600x403.jpg">
                            <span class="overlay color2"></span>
                            <span class="inner">
                                <span class="block fa fa-plus fsize20"></span>
                                <strong>VIEW</strong> IMAGE
                            </span>
                        </a>
                        <img class="img-responsive" src="/images/demo/portfolio/theMoose-600x403.jpg" width="260" height="260" alt="">
                    </figure>
                </div>
            </li>

            <li class="isotope-item col-sm-6 col-md-3 design">
                <!-- item 3 -->
                <div class="item-box">
                    <figure>
                        <a class="item-hover" href="/images/demo/portfolio/tumblr_mopqj9QUeq1st5lhmo1_12801-600x403.jpg">
                            <span class="overlay color2"></span>
                            <span class="inner">
                                <span class="block fa fa-plus fsize20"></span>
                                <strong>VIEW</strong> IMAGE
                            </span>
                        </a>
                        <img class="img-responsive" src="/images/demo/portfolio/tumblr_mopqj9QUeq1st5lhmo1_12801-600x403.jpg" width="260" height="260" alt="">
                    </figure>
                </div>
            </li>

            <li class="isotope-item col-sm-6 col-md-3 photography">
                <!-- item 4 -->
                <div class="item-box">
                    <figure>
                        <a class="item-hover" href="/images/demo/portfolio/scouter-600x403.jpg">
                            <span class="overlay color2"></span>
                            <span class="inner">
                                <span class="block fa fa-plus fsize20"></span>
                                <strong>VIEW</strong> IMAGE
                            </span>
                        </a>
                        <img class="img-responsive" src="/images/demo/portfolio/scouter-600x403.jpg" width="260" height="260" alt="">
                    </figure>
                </div>
            </li>

        </ul>

    </div><!-- /.masonry-container -->

    <!-- CALLOUT -->
    @*<div class="bs-callout text-center nomargin-bottom">
        <h3>Do you like what you see? <a href="contact-us.html" target="_blank" class="btn btn-primary btn-lg">Yes, let's work together!</a></h3>
    </div>*@
    <!-- /CALLOUT -->


</section>

<style>
    .mfp-wrap {
        height: 100% !important;
    }
</style>