@{
    ViewData["Title"] = "Home Page";
}



<div>

    <!-- REVOLUTION SLIDER -->
    <div class="fullwidthbanner-container roundedcorners">
        <div class="fullwidthbanner">
            <ul>

                <!-- SLIDE  -->
                <li data-transition="fade" data-slotamount="7" data-masterspeed="1500">

                    <!-- COVER IMAGE -->
                    <img src="~/images/demo/revolution_slider/slide-1.jpg" alt="" data-bgfit="cover" data-bgposition="left top" data-bgrepeat="no-repeat">

                    <!-- LAYER NR. 1 -->
                    @*<div class="tp-caption lightgrey_divider skewfromrightshort customout"
                             data-x="85"
                             data-y="224"
                             data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                             data-speed="500"
                             data-start="1200"
                             data-easing="Power4.easeOut"
                             data-endspeed="500"
                             data-endeasing="Power4.easeIn"
                             data-captionhidden="off"
                             style="z-index: 2">
                        </div>*@

                    <!-- LAYER NR. 2 -->
                    @*<div class="tp-caption customin customout"
                             data-x="right" data-hoffset="-220"
                             data-y="bottom" data-voffset="0"
                             data-customin="x:50;y:150;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.5;scaleY:0.5;skewX:0;skewY:0;opacity:0;transformPerspective:0;transformOrigin:50% 50%;"
                             data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                             data-speed="800"
                             data-start="700"
                             data-easing="Power4.easeOut"
                             data-endspeed="500"
                             data-endeasing="Power4.easeIn"
                             style="z-index: 3">
                            <img src="~/images/demo/revolution_slider/desktop_slider_2.png" alt="">
                        </div>*@

                    <!-- LAYER NR. 2 -->
                    @*<div class="tp-caption customin customout"
                             data-x="right" data-hoffset="-100"
                             data-y="bottom" data-voffset="0"
                             data-customin="x:50;y:150;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.5;scaleY:0.5;skewX:0;skewY:0;opacity:0;transformPerspective:0;transformOrigin:50% 50%;"
                             data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                             data-speed="1500"
                             data-start="700"
                             data-easing="Elastic.easeInOut"
                             data-endspeed="500"
                             data-endeasing="Power1.easeIn"
                             style="z-index: 3">
                            <img src="~/images/demo/revolution_slider/slider_run.png" alt="">
                        </div>*@

                    <!-- LAYER NR. 3 -->
                    @*<div class="tp-caption large_bold_grey skewfromrightshort customout"
                             data-x="80"
                             data-y="66"
                             data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                             data-speed="500"
                             data-start="800"
                             data-easing="Back.easeOut"
                             data-endspeed="500"
                             data-endeasing="Power4.easeIn"
                             data-captionhidden="off"
                             style="z-index: 4">
                            Powerful
                        </div>*@

                    <!-- LAYER NR. 4 -->
                    @*<div class="tp-caption large_bold_grey skewfromleftshort customout"
                             data-x="80"
                             data-y="122"
                             data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                             data-speed="300"
                             data-start="1100"
                             data-easing="Back.easeOut"
                             data-endspeed="500"
                             data-endeasing="Power4.easeIn"
                             data-captionhidden="off"
                             style="z-index: 7">
                            Multipurpose
                        </div>*@

                    <!-- LAYER NR. 5 -->
                    @*<div class="tp-caption small_thin_grey customin customout"
                             data-x="80"
                             data-y="230"
                             data-customin="x:0;y:100;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:1;scaleY:3;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:0% 0%;"
                             data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                             data-speed="500"
                             data-start="1300"
                             data-easing="Power4.easeOut"
                             data-endspeed="500"
                             data-endeasing="Power4.easeIn"
                             data-captionhidden="off"
                             style="z-index: 8">
                            Atropos Multipurpose Template, now offering you<br />
                            over 110 html pages fully customizable and very<br />
                            easy to use! <strong>Lifetime free update!</strong><br />
                            <a href="index-more.html">Read more...</a>
                        </div>*@

                    <!-- LAYER NR. 6 -->
                    @*<div class="tp-caption large_bold_darkblue skewfromleftshort customout"
                             data-x="80" data-hoffset="-90"
                             data-y="350"
                             data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                             data-speed="500"
                             data-start="1600"
                             data-easing="Back.easeOut"
                             data-endspeed="500"
                             data-endeasing="Power4.easeIn"
                             data-captionhidden="off"
                             style="z-index: 10">
                            110+
                        </div>*@

                    <!-- LAYER NR. 7 -->
                    @*<div class="tp-caption medium_bg_darkblue skewfromleftshort customout"
                             data-x="80" data-hoffset="-90"
                             data-y="410"
                             data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                             data-speed="500"
                             data-start="1650"
                             data-easing="Back.easeOut"
                             data-endspeed="500"
                             data-endeasing="Power4.easeIn"
                             data-captionhidden="off"
                             style="z-index: 11">
                            Html Pages
                        </div>

                        <div class="tp-caption medium_bold_orange skewfromleftshort customout start font300"
                             data-x="230" data-hoffset="-90"
                             data-y="370"
                             data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                             data-speed="500"
                             data-start="1850"
                             data-easing="Back.easeOut"
                             data-endspeed="500"
                             data-endeasing="Power4.easeIn"
                             data-captionhidden="off"
                             style="z-index: 13;">
                            Fully <strong>Responsive</strong>
                        </div>*@

                    <!-- LAYER NR. 8 -->
                    @*<div class="tp-caption medium_bg_orange skewfromleftshort customout"
                             data-x="230" data-hoffset="-90"
                             data-y="410"
                             data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                             data-speed="500"
                             data-start="2300"
                             data-easing="Back.easeOut"
                             data-endspeed="500"
                             data-endeasing="Power4.easeIn"
                             data-captionhidden="off"
                             style="z-index: 21">
                            Customizable Pages
                        </div>*@

                </li>

                <!-- SLIDE  -->
                <li data-transition="3dcurtain-vertical" data-slotamount="14" data-masterspeed="300" data-delay="10000">

                    <!-- COVER IMAGE -->
                    <img src="~/images/demo/revolution_slider/slide-2.jpg" alt="" data-bgfit="cover" data-bgposition="left top" data-bgrepeat="no-repeat" />

                    @*<div class="tp-caption lft boxshadow"
                             data-x="70"
                             data-y="70"
                             data-speed="900"
                             data-start="500"
                             data-easing="easeOutBack">
                        </div>

                        <div class="tp-caption sft large_bold_grey"
                             data-x="750"
                             data-y="70"
                             data-speed="300"
                             data-start="1200"
                             data-easing="easeOutExpo">
                            FEATURED
                        </div>

                        <div class="tp-caption sft modern_big_redbg"
                             data-x="750"
                             data-y="164"
                             data-speed="300"
                             data-start="1300"
                             data-easing="easeOutExpo">
                            Best With Atropos
                        </div>

                        <div class="tp-caption lfb thinheadline_dark"
                             data-x="750"
                             data-y="210"
                             data-speed="300"
                             data-start="1400"
                             data-easing="easeOutExpo">
                            You can easily add
                        </div>

                        <div class="tp-caption lfb thinheadline_dark"
                             data-x="750"
                             data-y="244"
                             data-speed="300"
                             data-start="1500"
                             data-easing="easeOutExpo">
                            Vimeo &amp; Youtube Videos
                        </div>

                        <div class="tp-caption lfb thinheadline_dark"
                             data-x="750"
                             data-y="278"
                             data-speed="300"
                             data-start="1600"
                             data-easing="easeOutExpo">
                            to your Slides
                        </div>

                        <div class="tp-caption lfb medium_bg_darkblue"
                             data-x="750"
                             data-y="390"
                             data-speed="300"
                             data-start="1600"
                             data-easing="easeOutExpo">
                            <i class="fa fa-html5"></i> HTML5
                        </div>

                        <div class="tp-caption lfb medium_bg_orange"
                             data-x="860"
                             data-y="390"
                             data-speed="300"
                             data-start="1600"
                             data-easing="easeOutExpo">
                            <i class="fa fa-css3"></i> CSS3
                        </div>*@

                </li>

                <!-- SLIDE -->
                <li data-transition="incube-horizontal" data-slotamount="5" data-masterspeed="700">

                    <!-- COVER IMAGE -->
                    <img src="~/images/demo/revolution_slider/slide-3.jpg" alt="" data-bgfit="cover" data-bgposition="left top" data-bgrepeat="no-repeat">

                    @*<div class="tp-caption large_text sft"
                             data-x="center"
                             data-y="130"
                             data-speed="300"
                             data-start="1000"
                             data-endspeed="500"
                             data-easing="easeOutBack">
                            <h1>ATROPOS</h1>
                        </div>

                        <div class="tp-caption large_text sft"
                             data-x="center"
                             data-y="260"
                             data-speed="300"
                             data-start="1700"
                             data-endspeed="500"
                             data-easing="easeOutBack">
                            <h2>MULTIPURPOSE TEMPLATE</h2>
                        </div>

                        <div class="tp-caption large_text sft"
                             data-x="center"
                             data-y="360"
                             data-customin="x:-150;y:-280;z:0;rotationX:-140;rotationY:-280;rotationZ:-220;scaleX:1.5;scaleY:0;skewX:57;skewY:60;opacity:0;transformPerspective:600;transformOrigin:120% 190%;"
                             data-customout="x:-450;y:-430;z:-30;rotationX:90;rotationY:-290;rotationZ:-20;scaleX:1;scaleY:2.8;skewX:59;skewY:4;opacity:0;transformPerspective:600;transformOrigin:70% 0%;"
                             data-speed="1500"
                             data-endspeed="500"
                             data-start="2700"
                             data-endeasing="Bounce.easeOut"
                             data-easing="Back.easeInOut">
                            <a class="btn btn-primary btn-lg" target="_blank" href="https://wrapbootstrap.com/theme/atropos-responsive-website-template-WB05SR527">BUY ATROPOS</a>
                        </div>*@

                </li>

            </ul>
            <div class="tp-bannertimer"></div>
        </div>
    </div>
    <!-- /REVOLUTION SLIDER -->


    <section class="container text-center">
        <h1 class="text-center">
            <strong>Welcome</strong> to SL-NZ Friends
            <span class="subtitle">COME ON, DON'T BE SHY! TODAY WE DON'T BITE!</span>
        </h1>
        <p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas metus nulla, commodo a sodales sed, dignissim pretium nunc. Nam et lacus neque. Ut enim massa, sodales tempor convallis et, iaculis ac massa.</p>
    </section>

    <!-- CAROUSEL -->
    <section class="container">
        <div class="row">
            <div class="col-md-12">
                <!-- divider -->
                <div class="divider styleColor">
                    <i class="fa fa-leaf"></i>
                </div>

                <!-- carousel -->
                <div class="owl-carousel" data-plugin-options='{"items": 4, "singleItem": false, "navigation": true, "pagination": true, "autoPlay": true}'>
                    <div>
                        <div class="col-md-12">
                            <div class="item-box">
                                <figure>
                                    @*<a class="item-hover" href="#">
                                        <span class="overlay color2"></span>
                                        <span class="inner">
                                            <span class="block fa fa-plus fsize20"></span>
                                            <strong>PROJECT</strong> DETAIL
                                        </span>
                                    </a>*@
                                    <img class="img-responsive" src="~/images/Featured_images/1.jpg" width="260" height="260" alt="">
                                </figure>
                                <div class="item-box-desc">
                                    <h4>Project 1</h4>
                                    <small class="styleColor">29 June, 2014</small>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="col-md-12">
                            <div class="item-box">
                                <figure>
                                    @*<a class="item-hover" href="#">
                                        <span class="overlay color2"></span>
                                        <span class="inner">
                                            <span class="block fa fa-plus fsize20"></span>
                                            <strong>PROJECT</strong> DETAIL
                                        </span>
                                    </a>*@
                                    <img class="img-responsive" src="~/images/Featured_images/2.jpg" width="260" height="260" alt="">
                                </figure>
                                <div class="item-box-desc">
                                    <h4>Project 2</h4>
                                    <small class="styleColor">29 June, 2014</small>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="col-md-12">
                            <div class="item-box">
                                <figure>
                                    @*<a class="item-hover" href="#">
                                        <span class="overlay color2"></span>
                                        <span class="inner">
                                            <span class="block fa fa-plus fsize20"></span>
                                            <strong>PROJECT</strong> DETAIL
                                        </span>
                                    </a>*@
                                    <img class="img-responsive" src="~/images/Featured_images/3.jpg" width="260" height="260" alt="">
                                </figure>
                                <div class="item-box-desc">
                                    <h4>Project 3</h4>
                                    <small class="styleColor">29 June, 2014</small>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="col-md-12">
                            <div class="item-box">
                                <figure>
                                    @*<a class="item-hover" href="#">
                                        <span class="overlay color2"></span>
                                        <span class="inner">
                                            <span class="block fa fa-plus fsize20"></span>
                                            <strong>PROJECT</strong> DETAIL
                                        </span>
                                    </a>*@
                                    <img class="img-responsive" src="~/images/Featured_images/4.jpg" width="260" height="260" alt="">
                                </figure>
                                <div class="item-box-desc">
                                    <h4>Project 4</h4>
                                    <small class="styleColor">29 June, 2014</small>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="col-md-12">
                            <div class="item-box">
                                <figure>
                                    @*<a class="item-hover" href="#">
                                        <span class="overlay color2"></span>
                                        <span class="inner">
                                            <span class="block fa fa-plus fsize20"></span>
                                            <strong>PROJECT</strong> DETAIL
                                        </span>
                                    </a>*@
                                    <img class="img-responsive" src="~/images/Featured_images/5.jpg" width="260" height="260" alt="">
                                </figure>
                                <div class="item-box-desc">
                                    <h4>Project 5</h4>
                                    <small class="styleColor">29 June, 2014</small>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="col-md-12">
                            <div class="item-box">
                                <figure>
                                    @*<a class="item-hover" href="#">
                                        <span class="overlay color2"></span>
                                        <span class="inner">
                                            <span class="block fa fa-plus fsize20"></span>
                                            <strong>PROJECT</strong> DETAIL
                                        </span>
                                    </a>*@
                                    <img class="img-responsive" src="~/images/Featured_images/6.jpg" width="260" height="260" alt="">
                                </figure>
                                <div class="item-box-desc">
                                    <h4>Project 6</h4>
                                    <small class="styleColor">29 June, 2014</small>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="col-md-12">
                            <div class="item-box">
                                <figure>
                                    @*<a class="item-hover" href="#">
                                        <span class="overlay color2"></span>
                                        <span class="inner">
                                            <span class="block fa fa-plus fsize20"></span>
                                            <strong>PROJECT</strong> DETAIL
                                        </span>
                                    </a>*@
                                    <img class="img-responsive" src="~/images/Featured_images/7.jpg" width="260" height="260" alt="">
                                </figure>
                                <div class="item-box-desc">
                                    <h4>Project 6</h4>
                                    <small class="styleColor">29 June, 2014</small>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- /CAROUSEL -->
    <!-- /CALLOUT -->
    <!-- PARALLAX -->
    @*<section class="parallax delayed margin-footer" data-stellar-background-ratio="0.7" style="background-image: url('images/demo/parallax.jpg');">
            <span class="overlay"></span>

            <div class="container">

                <div class="row">
                    <!-- left content -->
                    <div class="col-md-7 animation_fade_in">
                        <h2>Atropos <strong>Multipurpose</strong></h2>
                        <p class="lead">
                            Atropos is a multipurpose template for business or portfolio website. It is fully responsive design ready for PC, Tablet and Mobile.
                        </p>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas metus nulla, commodo a sodales sed, dignissim pretium nunc. Nam et lacus neque. Ut enim massa, sodales tempor convallis et, iaculis ac massa.
                        </p>
                        <p>
                            <small><em> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas metus nulla, commodo a sodales sed, dignissim pretium nunc.</em></small>
                        </p>

                        <a class="btn btn-primary btn-lg" href="index-more.html">Tell Me More</a>
                    </div>

                    <!-- right image -->
                    <div class="col-md-5 animation_fade_in">
                        <img class="visible-md visible-lg img-responsive pull-right" src="~/images/demo/desktop2.png" alt="" />
                    </div>
                </div>
            </div>
        </section>*@
    <!-- PARALLAX -->

</div>
<!-- /WRAPPER -->

<style>
    #wrapper {
        padding: 20px;
        z-index: 98;
        position: relative;
        background-color: rgba(244,245,247,0.9);
        overflow: hidden;
        min-height: 550px;
    }
</style>